apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: nimonspedia-gcp-secrets
spec:
  provider: gcp

  parameters:
    # REQUIRED for Workload Identity
    serviceAccountEmail: nimonspedia-gsa@project-22979784-7d52-40eb-92b.iam.gserviceaccount.com

    secrets: |
      - resourceName: "projects/project-22979784-7d52-40eb-92b/secrets/DB_USER/versions/latest"
        objectName: "DB_USER"
        fileName: "DB_USER"
      - resourceName: "projects/project-22979784-7d52-40eb-92b/secrets/DB_PASSWORD/versions/latest"
        objectName: "DB_PASSWORD"
        fileName: "DB_PASSWORD"