# k8s/secret-provider-class.yaml
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: nimonspedia-gcp-secrets
spec:
  provider: gcp
  # This section tells the driver to create a Kubernetes Secret named 'nimonspedia-gcp-creds'
  # with the data from the GCP secrets.
  secretObjects:
  - secretName: nimonspedia-gcp-creds
    type: Opaque
    data:
    - key: DB_USER
      objectName: DB_USER
    - key: DB_PASSWORD
      objectName: DB_PASSWORD
  
  parameters:
    secrets: |
      - resourceName: "projects/project-22979784-7d52-40eb-92b/secrets/DB_USER/versions/latest"
        objectName: "DB_USER"
      - resourceName: "projects/project-22979784-7d52-40eb-92b/secrets/DB_PASSWORD/versions/latest"
        objectName: "DB_PASSWORD"
