name: Build and Deploy to Kubernetes

on:
  push:
    branches:
      - prod

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/nimonspedia-node

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Authenticate to GHCR
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push Docker image
      - name: Build and push Docker image
        run: |
          docker build -t $REGISTRY/$IMAGE_NAME:${{ github.sha }} -f Dockerfile .
          docker push $REGISTRY/$IMAGE_NAME:${{ github.sha }}

      # Set up kubectl
      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: latest

      # Configure kubeconfig
      - name: Configure kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

      # Deploy to Kubernetes
      - name: Deploy to Kubernetes
        run: |
          # First, apply all configurations and access control
          kubectl apply -f k8s/configmap.yaml
          kubectl apply -f k8s/ksa.yaml
          kubectl apply -f k8s/secret-provider-class.yaml
          kubectl apply -f k8s/service.yaml
          
          # Now, update the image in the deployment manifest
          sed -i "s|image: .*|image: $REGISTRY/$IMAGE_NAME:${{ github.sha }}|g" k8s/deployment.yaml
          
          # Apply the updated deployment
          kubectl apply -f k8s/deployment.yaml
