name: Build and Deploy to Kubernetes

on:
  push:
    branches:
      - prod

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/nimonspedia-node
  PROJECT_ID: project-22979784-7d52-40eb-92b
  PROJECT_NUMBER: 316934781449
  CLUSTER_NAME: cluster-test
  CLUSTER_REGION: asia-southeast1
  USE_GKE_GCLOUD_AUTH_PLUGIN: "True"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write   # REQUIRED for Workload Identity Federation

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Authenticate to GHCR
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push Docker image
      - name: Build and push Docker image
        run: |
          docker build -t $REGISTRY/$IMAGE_NAME:${{ github.sha }} .
          docker push $REGISTRY/$IMAGE_NAME:${{ github.sha }}

      # Authenticate to Google Cloud (OIDC / WIF)
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/316934781449/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-actions-gke@project-22979784-7d52-40eb-92b.iam.gserviceaccount.com

      - name: Who am I?
        run: gcloud auth list

      # Set up gcloud
      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      # kubectl
      - name: Set up kubectl
        uses: azure/setup-kubectl@v4

      # GKE auth plugin
      - name: Install GKE auth plugin
        run: gcloud components install gke-gcloud-auth-plugin --quiet

      - name: Debug ADC
        run: |
          echo "ADC file:"
          ls -l $GOOGLE_APPLICATION_CREDENTIALS
          gcloud auth print-access-token | head -c 20

      # Generate kubeconfig dynamically (NO secrets)
      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: cluster-test
          location: asia-southeast1
          project_id: project-22979784-7d52-40eb-92b

      # Deploy to Kubernetes
      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/configmap.yaml
          kubectl apply -f k8s/ksa.yaml
          kubectl apply -f k8s/secret-provider-class.yaml
          kubectl apply -f k8s/service.yaml

          kubectl set image deployment/nimonspedia-node \
            nimonspedia-node=$REGISTRY/$IMAGE_NAME:${{ github.sha }}

          kubectl rollout status deployment/nimonspedia-node
